/*
Azul claro - #448ccb
Azul escuro - #3170a7
Cinza - #d2d2d2
*/

.banner-header{
  background-color: #448ccb;
  align-items: center;
}
.banner-content{
  margin: 10px;
}
.menu-header{
  background-color: #3170a7;
}

.login-header{
  margin-left: 10px;
}

.search-submit-header{
  height: 35px;
  margin: 10px;
  float: right;
}

.search-input-header{
  border-radius: 8px;
  height: auto;
}

.post-div{
  background-color: #d2d2d2;
  border-radius: 0px 0px 10px 10px;
}
.modal-top-border{
  border-radius: 10px;
  background-color: #448ccb;
}
.modal-title-border{
  border-radius: 10px 10px 0px 0px;
  background-color: #448ccb;
  align-items: center;
}
.modal-close-button{
  margin: 5px;
}
.modal-submit-button{
  margin-top: 15px;
}
.modal-title{
  color: #ffffff;
}
.modal-menu{
  background-color: #3170a7;
}
.modal-form{
  margin-top: 30px;
}
.modal-input{
  margin:15px;
}
.modal-content{
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
}
.modal-cadastrar{
  margin-left:10px
}
.modal-esqueciSenha{
  float: right;
  margin-right:10px
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}
.footer{
}
.footer-content{
    margin-top: 15px;
}
/*
a:link{
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color:#ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}
